<h1> This is <%= @user.first_name%>'s  profile page</h1>

<p>
  <%= @user.first_name %>'s projects:
</p>
<% @owned_projects.each do |project| %>
<%= project.title %>
<% end %>

<p>
  The Projects backed by <%= @user.first_name %>:
</p>
<% @backed_projects.each do |project| %>
<%= project.title %>
<% end %> </br>

<p>
  Amount pledged on this website by <%= @user.first_name %>:
</p>
$<%= @amount_pledged %>
