
<h3>Name</h3>

<%= @user.first_name %>

<h3>Projects I have backed!</h3>
<%@user.projects_pledged.uniq.each do |project| %>
<p><%= link_to(project.title, project_path(project))%></p>
<%end%>

<h3>Total amount pledged</h3>
<%=number_to_currency(@user.total_pledged) %>

<h3>Projects owned by me</h3>
<%@user.projects.each do |project| %>
<h4><%=link_to(project.title, project_path(project)) %></h4>
<p> start:<%=project.start_date.strftime("%d %B %Y")%> | ends:<%=project.end_date.strftime("%d %B %Y")%></p>


<%end%>
