<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<p>Created by: <%=@project.user.first_name%> <%=@project.user.last_name%></p>
<%=link_to('View Profile', user_path(@project.user))%>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>

<h3>Total Pledged</h3>
 <p> <%= number_to_currency(@project.pledge_sum)%></p>


  <% if @project.user_pledged?(current_user) %>
  <h3>Your current pledge</h3>
  <p> <%= number_to_currency(@project.current_user_pledged_sum(current_user)) %></p>
  <%end%>


 <h3> Project Deadline</h3>
 <%= icon('clock-o') %>
 <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %></time>
<% if current_user == @project.user %>
 <h3>Who has backed my project</h3>
 <%@project.pledges.each do |pledge| %>
 <%= number_to_currency(pledge.dollar_amount) %> <%=pledge.user.first_name%> <br>
 <%end%>

 <h3>Rewards claimed</h3>
 <p><%=@project.rewards.all.count %> rewards have been claimed!</p>
 <%end%>
